@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Playfair+Display&family=Vampiro+One&display=swap");
.body {
  color: #33264E;
}

.header {
  max-width: 1200px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.icons {
  display: flex;
  align-items: center;
  align-content: space-between;
  margin-left: 55px;
}
.icons a {
  color: white;
  background-color: pink;
  margin: 3px;
  padding-left: 8px;
  padding-top: 7px;
  height: 20px;
  width: 24px;
  border-radius: 20px;
  padding-bottom: 5px;
}

.icons img {
  padding-right: 5px;
}

.fa fa-facebook {
  padding-left: 60px;
}

.searchtool {
  width: 20px;
  padding-left: 200px;
  padding-top: 31px;
}

.title {
  display: flex;
  justify-items: center;
  color: white;
  font-family: "vampiro one";
  padding-left: 90px;
  font-size: 60px;
}

.sections {
  display: flex;
  justify-content: center;
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 10px;
  justify-content: space-between;
  text-decoration: underline;
}
.sections a {
  text-decoration: none;
  color: white;
  margin: 0 0 0 8px;
  font-family: "mulish";
}
.sections a:last-child {
  margin-right: 8px;
}

.line {
  width: 90%;
  height: 1px;
  background-color: white;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  width: 100%;
  height: 200px;
  position: relative;
  right: 291px;
}

.footer {
  max-width: 1200px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.backgfootpink {
  height: 50px;
  width: 300px;
  background-color: #f56b83;
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-top: 50px;
}
.backgfootpink .emailcontainer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-right: 100px;
  font-family: mulish;
  color: white;
}

.svg img {
  margin-top: 15px;
}

.secgridfooter {
  margin-left: 50PX;
}
.secgridfooter .postside {
  margin-top: 40px;
}

.followus {
  background-color: #3d2e5d8f;
  padding: 20px 20px;
}

.fb {
  position: relative;
  left: 150px;
}

.inst {
  position: relative;
  left: 150px;
}

.tf {
  margin: 20px 20px 20px 10px;
}

.tw::after {
  content: "*";
  color: white;
  display: inline-block;
}

.pi {
  margin: 40px 20px 30px 10px;
}

.secgridfooter p {
  color: white;
  font-family: "mulish";
}

.sidebar {
  max-width: 332px;
  margin-top: 65px;
}

.postside::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: red;
  display: inline-block;
  margin-bottom: 3px;
  margin-left: 10px;
}

.postside {
  font-size: 20px;
  font-color: white;
  color: white;
  font-family: "Playfair Display";
  margin-bottom: 10px;
}

.posts {
  width: 100%;
  margin-bottom: 20px;
}

.posts .contentpost {
  width: 100%;
  margin-bottom: 5px;
  margin-right: 10px;
  display: flex;
}

.contentpost .textside {
  margin-left: 10px;
  margin-top: 5px;
}

.picpost {
  width: 50%;
  height: 50%;
}

.palmside {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.socialmedia {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

.cbackground {
  width: 100%;
  height: 50px;
  background-color: #54d6e2ab;
}

.contentcat {
  display: flex;
}

.contentcat p {
  margin: 10px;
  margin-left: 0px;
  color: white;
  font-family: "mulish";
}

.adpic {
  object-fit: cover;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.catcontainer {
  margin-bottom: 70px;
}

.contentpic {
  left: 20px;
  position: relative;
}

.picture {
  width: 2000px;
  height: 480px;
  object-fit: cover;
}
.picture #picture {
  object-fit: cover;
  width: 1600px;
  height: 480px;
  margin-right: 150px;
  margin-left: 100px;
}

.jd img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.jd p {
  margin-top: 29px;
  padding-right: 5px;
  margin-left: 10px;
}

.picture h2 {
  padding-left: 50px;
  padding-top: -200px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Playfair Display";
}

.jd {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 30px;
}
.jd .triangle {
  width: 10px;
  background-color: pink;
  border-radius: 100%;
  height: 10px;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  position: relative;
  right: -18px;
  top: 20px;
}
.buttoncontainer #buttonheader {
  color: white;
  width: 120px;
  height: 30px;
  background-color: pink;
  display: flex;
  justify-content: center;
}

.titlepicture {
  position: relative;
  bottom: 350px;
  right: 193px;
}

.tp p::before {
  content: "";
  background: green;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  display: block;
}

.titlepicture p {
  color: white;
  font-family: "mulish";
}

.johndoe {
  margin-right: 5px;
}
.johndoe p {
  margin-right: 5px;
  margin-left: 5px;
}

h2 {
  position: relative;
  left: 50px;
  position: relative;
  left: -2px;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #33264E;
  font-family: font(text);
  display: grid;
  place-items: center;
  max-width: 1200px;
}

.container {
  position: relative;
  max-width: 1200px;
  right: 350px;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

.leftcontainer {
  max-width: 800px;
  margin: 60px;
}

.picture img {
  width: 100px;
  height: 100px;
}

.pict {
  width: 158%;
  height: 300px;
}

.palmtree {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textpict {
  margin-left: 20px;
  padding: 20px 20px;
}

.jdarticle {
  display: flex;
}

.firstarticle {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #362953;
  margin-bottom: 20px;
}

.textpict p {
  margin-bottom: 20px;
}

/*# sourceMappingURL=main.css.map */
