.footercontent {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  bottom: 50px;
  clear: both;
}
.footer{
  margin: auto;
  width: 1200px;
  clear: both;
}
.icon{
  display: flex;
  padding-top: 13px;
  padding-left: 05px;
  bottom:0;
  right:0;
  img{
    width: 20px;
  }
  p{
    padding: top 8px;
  }
}
.linefinal{
  widows: 90%;
  height: 1px;
  background-color: white;
  width: 1200px;
  margin: auto;
}
.backtop{
  display: flex;
  bottom: 0;
  right: 0;
  padding-right: 8px;
  float: right;
  p{
    padding-top: 21px;
  }
  img{
    width: 20px;
    padding-top: 14px;
    height: 20px;
    padding-top: 35px;
    padding-left: 6px;
  }
}
.banner{
  width: auto;
  height: 20px;
  color: #362953;
}
.footergrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
h3{
  padding-right: 138px;
  margin-bottom: -10px;
}
.newsletter{
  margin-bottom: 50px;
}
.button{
  width: 150px;
}
.lineblock{
  margin: 25px;

  padding-left: 50px;
  width: 80px;
  height: 2px;
  background-color: red;
  float: right;
  margin-top: -5px;
}
.lineb{
  margin: 25px;
    margin-top: -5px;
    width: 80px;
    height: 2px;
    background-color: red;
    float: right;
    display: flex;
    bottom: 0;
    right: 0;
    padding-right: 8px;
    float: right;
    display: flex;
}
.icones-footer{

}
