.body{
color: #33264E;
}
.header{
  max-width: 1200px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr;
}
.icons{
  display: flex;
  align-items: center;
  align-content: space-between;
  margin-left: 55px;
  a{
    color: white;
    background-color: pink;
    margin: 3px;
    padding-left: 8px;
    padding-top: 7px;
    height: 20px;
    width: 24px;
    border-radius: 20px;
    padding-bottom:5px ;
  }
}
.icons img{
  padding-right: 5px;
}
.fa fa-facebook{
  padding-left:60px;
}
.searchtool{
  width: 20px;
  padding-left: 200px;
  padding-top: 31px;
}
.title{
  display: flex;
  justify-items: center;
  color: white;
  font-family: "vampiro one";
  padding-left: 90px;
  font-size: 60px;
}
.sections{
  display: flex;
  justify-content: center;
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 10px;
  justify-content: space-between;
  text-decoration: underline;
  a{
    text-decoration: none;
    color: white;
    margin: 0 0 0 8px;
    font-family: "mulish";
  }
  a:last-child{
    margin-right: 8px;
  }
}
.line{
  width: 90%;
  height: 1px;
  background-color: white;
  margin: 0 auto;
}








