.body{
color: #33264E;
}
.header{
  margin: auto;
  max-width: 1200px;
}
.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr;
}
.icons{
  display: flex;
  padding-left: 50px;
  align-items: center;
  align-content: space-between;
  a{
    color: white;
    background-color: pink;
    margin: 3px;
    padding-left: 8px;
    padding-top: 7px;
    height: 20px;
    width: 24px;
    border-radius: 20px;
    padding-bottom:5px ;
  }
}
.fa fa-facebook{
  padding-left:60px;
}
.searchtool{
  width: 20px;
  padding-left: 200px;
  padding-top: 31px;
}
.title{
  display: flex;
  justify-items: center;
  color: white;
  font-family: "vampiro one";
  padding-left: 90px;
  font-size: 60px;
}
.sections{
  display: flex;
  justify-content: center;
  grid-row: 2/3;
  grid-column: 2/3;
  margin: 10px;
  justify-content: space-between;
  text-decoration: underline;
  a{
    text-decoration: none;
    color: white;
    margin: 0 0 0 8px;
    font-family: "mulish";
  }
  a:last-child{
    margin-right: 8px;
  }
}
.picture{
  width: 1600px;
  height: 480px;
  object-fit: cover;
    #picture{
    object-fit: cover;
    width: 1600px;
    height: 480px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 100px;
    margin: auto;

  }
}
.johndoe{
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
h2{
    padding-left: 50px;
    padding-top: -200px;
    display: flex;
    justify-content: center;
    margin-top: -300px;
    color: white;
    font-family: "Playfair Display";

}
.line{
  width: 90%;
  height: 1px;
  background-color: white;
}
.jd{
  display: flex;
  justify-content: center;
  color: white;
  .triangle{
    width: 10px;
    background-color: pink;
    border-radius: 100%;
    height: 10px;
  }
}
.buttoncontainer{
  display: flex;
  justify-content: center;
  #buttonheader{
    color: white;
    width: 120px;
    height: 30px;
    background-color: pink;
    display: flex;
    justify-content: center;
}
    }







